# Dependencies
node_modules
npm-debug.log*

# Build artifacts
dist

# Environment files
.env
.env.local
.env.development
.env.test

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
logs
*.log

# Test coverage
coverage

# Docker
Dockerfile
docker-compose.yml
docker-compose.*.yml

# Documentation
README.md

# Config files that shouldn't be in production
.prettierrc
eslint.config.mjs
jest.config.ts
tsconfig.json
tsconfig.build.json
nest-cli.json
