# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# DB
DATABASE_URL="postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:YOUR_DB_PORT/YOUR_DB_NAME"

# JWT
JWT_SECRET="YOUR_SUPER_SECRET_JWT_KEY_MIN_32_CHARS"